name: Build and publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: recursive
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build ImTool
      run: dotnet build -c Release ImTool/ImTool.csproj
      
    - name: Pack ImTool
      run: dotnet pack -c Release ImTool/ImTool.csproj -o nupkgs
          
    - name: Push ImTool to nuget.org
      run: dotnet nuget push nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.TMW_NUGET }} --skip-duplicate